*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
  @include respond(tab-land) {
    // width < 1200?
    font-size: 50.25%; //1 rem = 9px, 9/16 = 50%
  }
  @include respond(tab-port) {
    // width < 900?
    font-size: 43%; //1 rem = 8px, 8/16 = 50%
  }
}

/****************************
        Reset tags
*****************************/
body {
  box-sizing: border-box;
  font-family: $font-secondary, sans-serif;
  position: relative;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
h2 {
  font-size: 3.7rem;
  text-transform: uppercase;
}
h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
h4 {
  font-size: 2.4rem;
  text-transform: uppercase;
}
h5 {
  font-size: 2rem;
  text-transform: uppercase;
}
h6 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

ul {
  list-style: none;
}
ul li {
  list-style: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

p,
a,
span {
  font-family: $font-secondary, sans-serif;
  font-size: 2rem;
}

p {
  line-height: 1.8;
}

::selection {
  background-color: $color-primary;
  color: $color-gray-0;
}
