#books {
  margin: 3rem auto;
  display: flex; /* Make products flex in row direction (default) */
  flex-wrap: wrap; /* Make products overflow on new row */
  //margin: -4% -2%; /* cancel the left & right product-card paddings*/
  justify-content: space-between;

  .product-card {
    //padding: 4% 2%;
    flex-grow: 0;
    flex-basis: 23%;
    //or use a shorthand : flex: 1 16%;

    display: flex; /* so child elements can use flex box stuff too! */
    flex-direction: column;

    .product-image img {
      width: 100%;
      height: 32rem;
    }
    .product-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 1.8rem;
      align-items: center;
      margin-top: auto;
      padding: 0.8rem;
      text-align: center;
      color: $color-gray-3;
      & .author {
        color: $color-primary;
      }
      & .price {
        color: $color-black;
        font-weight: 400;
      }
    }
  }
}

@include respond(tab-port) {
  #books {
    justify-content: space-around;
    .product-card {
      flex-basis: 33%;
    }
  }
}
@include respond(phone) {
  #books {
    justify-content: space-around;
    .product-card {
      flex-basis: 65%;
      margin-bottom: 2rem;
    }
  }
}

.checked {
  color: orange;
}
//justify-content: space-between; /* Or space-between or space-around */
/*************************************/ /*************************************/

/* all take the same space */
//text-align: center; /* Align text on center */
//display: flex; /* Display as flex */
//flex-direction: column; /* Display flex in column */
//align-items: center; /* Align items on center */
//max-width: 400px; /* Set max-width so the last items will behave in a more traditional way */
//margin-bottom: 6rem;
//overflow: hidden;
//width: 29rem;
