.search {
  & input {
    font-size: 3rem;
    border: none;
    color: $color-dark;
    display: block;
    padding: 2rem;
    margin: auto;
    width: 60%;
    border-radius: 35px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    outline: none;
    padding-inline-start: 3.5rem;
    &::placeholder {
      color: lighten($color-gray-2, 30%);
      font-weight: normal;
    }
  }
}
@include respond(phone) {
  .search {
    & input {
      width: 80%;
      margin: auto;
      padding-inline-start: 4rem;
    }
  }
}
