header {
  padding: 3rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    width: 90%;
    margin: 3rem;
  }
  .search {
    width: 100%;
  }
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //margin: 3rem auto;
    text-align: center;

    p {
      font-weight: bold;
      font-size: 2.7rem;
      text-transform: capitalize;
      color: $color-gray-3;
      padding-bottom: 3.2rem;
      span {
        color: $color-primary;
      }
    }
  }
}
