.nav {
  /************* responsive navBar **************/

  //1- set the hight
  height: $nav-height;

  //2- display flex space-between H &  center V
  display: flex;
  justify-content: space-between;
  align-items: center;

  //3- define typography & colors
  font-size: 2rem;
  background-color: $color-white-alpha;

  //4- define padding & margin
  border-bottom: 2px solid $color-gray-1;

  //5-make it sticky   fixed : positioned relative to the viewport
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;

  .logo-s {
    a {
      font-size: 4rem;
      font-weight: 900;
      color: $color-primary;
      & span {
        color: $color-gray-3;
      }
    }
  }
  .desktop-menu {
    ul {
      list-style-type: none;
      height: 100%;
      display: inline-block;
      li {
        float: $direction;
        padding: 0 2rem;
        a {
          font-family: $font-primary, sans-serif;
          text-decoration: none;
          text-transform: uppercase;
          color: $color-gray-3;
        }
        a.active,
        a:hover {
          color: $color-primary;
        }
      }
    }
  }
}
// ********* change regular menu display in mobile  ******/
@include respond(phone) {
  .nav {
    padding: 1rem 2rem;
    .desktop-menu {
      //absolute : positioned relative to the nearest positioned ancestor
      position: fixed;
      top: $nav-height;
      left: 0;
      width: 100%;
      height: calc(100vh - #{$nav-height});
      background-color: $color-gray-4;
      & ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & li {
          padding-bottom: 4rem;
          a {
            font-size: 4rem;
          }
        }
      }
    }
  }
}
// **********    mobile menu   ***********

.mobile-menu {
  transition: 5ms;
  display: none;
  span {
    position: relative;
  }
  span,
  span:after,
  span:before {
    content: '';
    background: $color-primary;
    margin: 0;
    padding: 0;
    display: block;
    width: 6rem;
    height: 0.7rem;
    transition: all 200ms ease-in-out;
  }
  span:before {
    transform: translateY(0rem);
    position: absolute;
    top: -2rem;
  }
  span:after {
    transform: translateY(0rem);
    position: absolute;
    top: 2rem;
  }
}

// ********* display the hamburger menu in mobile  ******
@include respond(phone) {
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    //width: 100%;
    //height: 100%;
    z-index: 10;
  }
}

/*       toggle hamburger menu    */
.animeX {
  span:before {
    transform: translateY(2rem) rotate(45deg);
  }
  span {
    background-color: transparent;
  }
  span:after {
    transform: translateY(-2rem) rotate(-45deg);
  }
}
/*        make menu sticky       */
.sticky {
}

.hide-on-phone {
  @include respond(phone) {
    display: none;
  }
}
